<nav class="bg-white shadow-none fixed top-0 left-0 w-full z-50">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-between py-4 px-6"
  >
    <a routerLink="/" class="flex items-center">
      <img src="assets/images/logo-icece.png" alt="Logo ICECE" class="h-8" />
    </a>

    <div class="hidden md:flex space-x-8">
      <a
        routerLink="/"
        routerLinkActive="text-[#91BB54]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >ICECE</a
      >

      <a
        routerLink="/concursos"
        routerLinkActive="text-[#91BB54]"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >Concursos</a
      >

      <a
        routerLink="/cursos"
        routerLinkActive="text-[#91BB54]"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >Cursos</a
      >

      <a
        routerLink="/florescer"
        routerLinkActive="text-[#91BB54]"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >Florescer Azul</a
      >

      <a
        routerLink="/transparencia"
        routerLinkActive="text-[#91BB54]"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >Transparência</a
      >

      <a
        routerLink="/trabalhe-conosco"
        routerLinkActive="text-[#91BB54]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
      >
        Trabalhe Conosco
      </a>

      <a
        routerLink="/contato"
        routerLinkActive="text-[#91BB54]"
        class="text-lime-900 hover:text-[#91BB54] font-medium text-sm"
        >Contato</a
      >
    </div>

    <!-- Ícones -->
    <div class="flex space-x-6">
      <a
        href="https://wa.me/55XX999999999"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="assets/images/whatsapp-icone.png"
          alt="WhatsApp"
          class="h-6"
        />
      </a>
      <a
        href="https://www.instagram.com/iceceoficial"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="assets/images/instagram-icone.png"
          alt="Instagram"
          class="h-6"
        />
      </a>
    </div>
  </div>
</nav>
